<div class="github-contrib">
<section class="phx-hero">
</section>
</div>

<section class="phx-hero" style="height: 200px;">
  <div id="homepage-content" class="container">
    <div id="split-one" class="bg-dark">
      <p> I'm a header Text of the split section 1</p>
    </div>
    <div id="split-two" class="bg-green">
    <p> I'm a header Text of the split section 2</p>
    </div>
  </div>
</section>
